.cont {
    height: 100vh;

}
.quiz-cont {
    height: 80%;
    width: 400px;
}
select {
    width: 87%;
    margin-right: 70px;
    border: 1px solid grey;
    border-radius: 7px;
    height: 35px;
}